@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&family=Nunito:wght@300;400;500;600;700;800;900&display=swap');



:root {
    --white: #fff;
    --black: #010101;
    --blue: #31326f;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 12px;

}
body {
    font-family: 'Nunito', sans-serif;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;
}
img{
    width: 100%;
}
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}